@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    overflow-x: hidden; /* For horizontal overflow */
}

h1 {
    font-size: 3rem;
    color: black;
}

h2 {
    font-size: 2rem;
    color: black;
}

h3 {
    font-size: 1.5rem;
    color: black;
}

p{
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

/* Top banner */

.banner{
    width: 100vw;
    padding: 1rem;
    background-image: url('Assets/asset\ 30.png');
    background-size: 300px;
    background-color: rgba(0, 0, 255, 0.438);
    overflow-x: hidden; /* For horizontal overflow */
    overflow-y: hidden;
}

.tob-banner{
    margin-inline: auto;
    max-width: 1200px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-one{
    font-size: 17px;
    font-weight: 500;
    color: white;
}

/* Header section */

header{
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    position: relative;
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 999;
}

.navigation{
    margin: auto;
    max-width: 1200px;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.nav-menu{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.logo{
    width: 200px;
}

.nav{
    width: auto;
    display: flex;
    gap: 1rem;
    margin-right: -80px;
}

.nav-link{
    font-size: 1.050rem;
    font-weight: 500;
    transition-duration: 0.3s;
}

.nav-link:hover{
    color: blue;
}

.btn{
    padding: 12px 17px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid blue;
    cursor: pointer;
    transition-duration: 0.5s;
}

.sign-in{
    border: 2px solid blue;
    background-color: white;
    color: blue;
}

.sign-in:hover{
    background-color: blue;
    color: white;
}

.sign-up:hover{
    border: 2px solid blue;
    background-color: white;
    color: blue;
}

/* Hero section */

.hero-section{
    margin: auto;
    max-width: 1200px;
    min-height: auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-left-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 2rem 2rem 2rem 0rem;
}

.hero-title{
    font-size: 45px;
    color: black;
}

.hero-desc{
    font-size: 19px;
    color: var(--secondary-text-color);
}

.get-started-btn:hover{
    border: 2px solid blue;
    background-color: white;
    color: blue;
}

.hero-right-container{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hero-img{
    width: 28vw;
}

/* Company container */

.company-container{
    margin: auto;
    max-width: 1200px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.company-desc{
    font-size: 17px;
    color: black;
    font-weight: 600;
}

.company-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.company-logos{
    width: 150px;
}

/* Feature section */

.feature-section{
    margin: auto;
    margin-top: 4rem;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.feature-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
}

.card{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.feature-btn{
    border: 2px solid blue;
    background-color: white;
    color: blue;
}

.feature-btn:hover{
    background-color: blue;
    color: white;
}

.feature-img{
    width: 60px;
}

.feature-title{
    font-size: 32px;
    color: black;
}

.card-title{
    font-size: 24px;
    color: black;
}

.card-desc{
    font-size: 19px;
    color: var(--secondary-text-color);
}

/* Big feature section */

.big-feature-section{
    margin: auto;
    max-width: 1200px;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-feature-img{
    width: 580px;
}

.feature-left-img{
    width: auto;
    display: flex;
    justify-content: start;
    padding-right: 2rem;
}

.feature-right-content{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 1rem;
    padding-left: 2rem;
}

.mini-title{
    font-size: 17px;
}

.big-title{
    font-size: 30px;
}

.big-feature-desc{
    font-size: 19px;
}

/* Another Big feature section */

.left-feature-container{
    padding-right: 2rem;
}

.right-feature-container{
    padding-left: 2rem;
}

/* Example section */

.example-section{
    margin: auto;
    max-width: 1200px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 0;
}

.example-cards-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.example-cards{
    width: auto;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 35.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    transition: 0.2s ease-out;
}

.example-cards:hover{
    box-shadow: 0 0 10px #888;
}

.example-card2{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 34.jpeg);
}

.example-card3{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 36.jpeg);
}

.example-card4{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 37.jpeg);
}

.example-card-heading{
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.feature-content2{
    padding-top: 1rem;
}

/* CTA Section */

.cta-section{
    width: 100vw;
    padding: 8rem 0;
    background-color: blue;
}

.cta-container{
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.cta-title{
    color: white;
    font-size: 32px;
}

.cta-desc{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.get-started-btn1{
    background-color: #009fc7;
    border-color: white;
}

.get-started-btn1:hover{
    background-color: #0089ac;
}

/* Footer section */

footer{
    width: 100vw;
    background-color: #ebf2fa;
}

.footer-section{
    margin: auto;
    max-width: 1200px;
    max-height: auto;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    padding-bottom: 2rem;
}

.footer-content{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
}

ul, li{
    list-style: none;
    font-size: 16px;
    color: black;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition-duration: 0.3s;
}

ul, li:hover{
    color: blue;
}

.f-title{
    font-size: 20px;
}

/* Footer bottom section */

.footer-bottom-section{
    width: 100vw;
    background-color: blue;
    padding: 5px 0;
}

.bottom-container{
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-title{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.auther-link{
    color: white;
    border-bottom: 1px solid white;
}