* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    margin: 20px 100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 20px #333333ad);
}

.card img:hover {
    filter: grayscale(0);
}

.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    bottom: -100px;
    opacity: 0;
}

.card:hover figcaption {
    opacity: 1;
    bottom: 0;
}