@media (max-width: 1200px) {
    .icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 6rem 9%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem;
    }

    section {
        padding: 2rem 4%;
    }

    .home .content h2 {
        font-size: 3rem;
    }

    .about .row .content {
        margin-top: 2rem;
        margin-left: 0;
    }

    .icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 6rem 8%;
    }
}

@media (max-width: 768px) {
    .about {
        padding: 0 5%;
    }

    header {
        padding: 1rem 2.5%;
    }

    section {
        padding: 2rem 2%;
    }

    header .fa-bars {
        display: block;
        padding: 0 0rem;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #eee;
        border-top: .1rem rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 0.5s ease;
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 0.6rem;
        padding: 0.6rem;
        background-color: #ffffff;
        color: black;
        border-top: .1rem rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content {
        max-width: 100%;
    }

    .home {
        min-height: 70vh;
        padding: 0 5%;
    }

    .about .row .content {
        margin-top: 2rem;
        margin-left: 0;
    }

    .icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 6rem 9%;
    }

    .icon-title {
        font-size: 1rem;
    }

    .contact .row .contact-img-container .contact-img {
        width: 400px;
        height: 400px;
    }

    .contact .row {
        padding: 0 5%;
    }
}

@media (max-width: 600px) {
    .icons-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 6rem 9%;
    }

    .icon-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {
    .logo {
        font-size: 1.7rem;
    }

    header .navbar a {
        font-size: 16px;
    }

    header .icons a {
        font-size: 16px;
    }

    header .fa-bars {
        font-size: 1.7rem;
    }

    .home .content h2 {
        font-size: 2rem;
    }

    .home .content span {
        font-size: 1.5rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .home {
        min-height: 66vh;
    }

    .about .row .video-container h3 {
        font-size: 1rem;
    }

    .icons-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 6rem 9%;
    }

    .icon-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .contact .row .contact-img-container .contact-img {
        width: 300px;
        height: 300px;
    }

    .contact {
        padding: 2rem 0;
    }

    .contact .row {
        padding: 0 5%;
        gap: 1rem;
    }
}

